params {
    input_file = null  // Default to null
}

profiles {
    standard {
        process {
            executor = 'local'
        }
    }

    singularity {
        process {
            container = "library://qaswara98/dir/thesis_pca_vs_ae:v1.0"
            executor = 'local'
        }
        singularity {
            enabled = true
        }
    }
}

process {
    withLabel: singularity {
        container = "library://qaswara98/dir/thesis_pca_vs_ae:v1.0"
    }
}

singularity {
    enabled = true
}
