params.outdir = "output"

process {
    publishDir {
        path = "\${params.outdir}"
        mode = "copy"
    }
}

profiles {
    singularity {
        process.container = "library://qaswara98/dir/thesis_pca_vs_ae:v1.0"
        singularity.enabled = true
        process {
            publishDir {
                path = "\${params.outdir}"
                mode = "copy"
            }
        }
    }
}
